.myExperience {
  h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #404148;
  }

  h2 {
    font-family: BrandonTextRegular;
    font-size: 18px;
    line-height: 27px;
    color: #213638;
  }

  .boxHistory {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 25px 35px rgba(19, 29, 29, 0.05);
    width: 100%;
    padding: 50px !important;
    margin: 30px 0 30px 0 !important;
  }
}
